name: Daily Commit

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

permissions:
  contents: read
  security-events: write
  actions: read

  schedule:
    - cron: '0 12 * * *'  # Každý deň o 12:00 UTC
  workflow_dispatch:  # Manuálne spustenie

